<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="row">
            <div class="col-xs-5">
                <h1><i class="fa fa-list"></i> Sales </h1>
            </div>
            <div class="col-xs-7 text-right">
                <div class="btn-wrapper">
                    <div class="btn-group btn-group-sm hidden">
                        <a class="btn btn-info" a>Edit</a>
                        <a class="btn btn-danger" a>Delete</a>
                    </div>
                    <a href="http://localhost:3000/#/transaction/sales-add" class="btn btn-sm btn-primary">Add</a>
                </div>
            </div>
        </div>
    </section>
    <section class="clearfix">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Transactions</a></li>
                <li class="active">Sales</li>
            </ol>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header hidden">
                <h3>header</h3>
            </div>
            <div class="box-body box-table">
                <table id="example1" class="table table-list">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Number</th>
                            <th>Ledger</th>
                            <th>E-Way Bill #</th>
                            <th>Type</th>
                            <th class="text-right">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>
                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>
                        <tr>
                            <td>02/07/2018</td>
                            <td>PR-00001-S (Ref. No. 098)</td>
                            <td><a href="">SD Anmol Industries Ltd Grater Noida [Dr] / Sales [Cr]</a></td>
                            <td>xx</td>
                            <td>Sales</td>
                            <td class="text-right">6,22,35,400.00</td>
                        </tr>

                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer footer-band">
            </div><!-- /.box-footer -->
        </div><!-- /.box -->

    </section>
</div>