.parent{
	color: #67809F;
	font-weight: bold;
	
	}
.table-striped > tbody > tr:nth-child(2n+1) > td:not('.child1'){
	border-right: 0px solid transparent;
	background: #06F;
	}
	
	.child1{border-right: 0px solid transparent;}

.border-left{
	border-left: 1px solid #000 !important;
	}

[data-margin="35px"]{
	margin-left: 35px;
	
	}

[data-margin="70px"]{
	margin-left: 70px;
	
	}
        .float-right{
            float : right;
        }
       
        .float-right:after{
            content: "";
            clear: both;
            display : table;
        }