 {% extends "index.html.twig" %}

{% block content %}
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>Order Confirmation</h2>
            </div>
        </div>
    </div>

    <h4>{{checkout_msg}}</h4>

   <a href="{{ base_url() }}" title="Continue shopping">Continue shopping</a> 

   


</div>
 


         
{% endblock %}
