.setting_dropdown_blog{position: static;}
.open>.setting_dropdown {
    display: block; background: #f7f7f7; width: 100%; color: #000; padding: 10px;  
}

.open > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);  
    opacity:1;
}
.setting_dropdown {
    opacity:.3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;  
    animation-fill-mode: forwards; 
    -webkit-transform: scale(1, 0);
    display: block; 
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.myButton{/* position: absolute; right: 0;*/}
#myDiv {
    color:#000;
    background: #f7f7f7;
    display:none;
    border: 1px solid #dee0e3;
    text-align:justify; 
    position: fixed;
    right: 0; 
    bottom: 0; 
    top:49px;
    height: calc(100% - 49px);
    border-right: 0;
    margin-top: 1px; 
    width: 100%; 
    max-width: 280px;
    overflow-y: auto;      
}
#myDiv h5{margin-top: 0;}
#myDiv form{padding: 12px 18px!important}
.side_toggle{position:fixed; z-index: 1050 /*999999*/; right: 0; top: 0;} 
.side_toggle .btn-default{ border-radius: 0; border-color: #dee0e3; width: 34px; height: 34px; margin-top: 1px;}

@media screen and (max-device-width: 480px){ 
    #myDiv{top:127px;}
}