 <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h2>You may also like </h2>
            </div>
        </div>
    </div>
    <div class="row margin-b-20">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/400x200" alt="">
                <div class="caption">
                    <h4><a href="product-details.php">Product Ttitle</a> <div class="pull-right"><i class="fa fa-inr"></i> 450.00</div></h4>
                    <p>Short description of the product</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/400x200" alt="">
                <div class="caption">
                    <h4><a href="product-details.php">Product Ttitle</a> <div class="pull-right"><i class="fa fa-inr"></i> 450.00</div></h4>
                    <p>Short description of the product</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/400x200" alt="">
                <div class="caption">
                    <h4><a href="product-details.php">Product Ttitle</a> <div class="pull-right"><i class="fa fa-inr"></i> 450.00</div></h4>
                    <p>Short description of the product</p>                    
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
            <div class="thumbnail">
                <img src="http://placehold.it/400x200" alt="">
                <div class="caption">
                    <h4><a href="product-details.php">Product Ttitle</a> <div class="pull-right"><i class="fa fa-inr"></i> 450.00</div></h4>
                    <p>Short description of the product</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->