<div class="row newsletter-wrap">
    <div class="margin-t-40 padding-t-20 padding-b-10 bg-info clearfix">
    <div class="container">
  <div class="col-sm-6">
  <div class="footer-header">
  <h4>Newsletter</h4>
  </div>
    
    <p>Subscribe to our weekly Newsletter and stay tuned.</p>
    </div>
  <div class="col-sm-6">
        <div class=" margin-t-10">
        <form action="{{site_url('front/subscribeNewsletter')}}" method="post" id="newsletteremail" name="newsletteremail">
            <div class="form-group ">
            <div class="col-sm-8">
              <div class="input-group" id="errornewsletter">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    <span><input class="form-control" type="email" id="emailnewsletter" name="emailnewsletter" placeholder="your@email.com"></span>                    
                </div>
            </div>
                  

                <div class="col-sm-4"><input type="submit" value="Subscribe" class="btn btn-success news-btn" /></div>
            </div>
            
   </form>  
    </div>
    
    
          
    </div>
    </div>
    </div>
</div>
