{% extends "index.html.twig" %}

{% block content %}

<section class="search-header">
	<div class="container">
		<div class="row">
		<div class="page-header">
			<h2 class="">Search By Content</h2>
			<p>Search in this website</p>
		</div>
			<form class="form-inline">
				<div class="form-group clearfix">
				  <span class="search-tool"><i class="fa fa-search"></i></span>
					<input type="search" class="form-control" placeholder="Type your Search">
				
					
				</div>
				<input type="submit" class="btn btn-default search-lg-btn text-uppercase btn-info" value="Submit">
				
			</form>
		</div>
	</div>
</section>

<section class="search-body">
	<div class="container">
 <div class="row">
 <div class="col-md-10 col-sm-12 col-xs-12">
 	<div class="search-row ">
 		<h3><a href=""> How can i dynamic background css url on wordpress</a></h3>

 		<div class="search-excerpts">
 			<p>here is my mark up i want to dynamic this link .. because i want to change image from wordPress dashboard  ...</p>
 		</div>

 		<!--<div class="search-tags">
 			<span class="label label-info"><a href="http://lab-6.sketchdemos.com/P-007-projectbuilder/tags.aspx/president">president</a></span>

 			<span class="label label-info"><a href="http://lab-6.sketchdemos.com/P-007-projectbuilder/tags.aspx/president">president</a></span>

 			<span class="label label-info"><a href="http://lab-6.sketchdemos.com/P-007-projectbuilder/tags.aspx/president">president</a></span>
 		</div>-->
 	</div>


 	<div class="search-row ">
 		<h3><a href=""> How can i dynamic background css url on wordpress</a></h3>

 		<div class="search-excerpts">
 			<p>here is my mark up i want to dynamic this link .. because i want to change image from wordPress dashboard  ...</p>
 		</div>

 		
 	</div>


 	<div class="search-row ">
 		<h3><a href=""> How can i dynamic background css url on wordpress</a></h3>

 		<div class="search-excerpts">
 			<p>here is my mark up i want to dynamic this link .. because i want to change image from wordPress dashboard  ...</p>
 		</div>

 		
 	</div>


   
 	<div class="search-row ">
 		<h3><a href=""> How can i dynamic background css url on wordpress</a></h3>

 		<div class="search-excerpts">
 			<p>here is my mark up i want to dynamic this link .. because i want to change image from wordPress dashboard  ...</p>
 		</div>

 		
 	</div>

 </div>
 	

 </div>

</div>  
</section>

<div class="bottom-pagination clearfix">    
<div class="col-sm-12 text-center">
        <ul class="pagination"><li class="active"><a href="http://lab-6.sketchdemos.com/P-007-projectbuilder/products.aspx">1</a></li><li><a href="http://lab-6.sketchdemos.com/P-007-projectbuilder/products.aspx/12">2</a></li><a href="http://lab-6.sketchdemos.com/P-007-projectbuilder/products.aspx/12"></a></ul>       
</div>
</div>

  
{% endblock %}
